@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

/* ----------------------------------------------------------------
  デザインから選ぶページ
---------------------------------------------------------------- */
.sec-list-design-modelhouse{
  margin-top: 10px;
}

//リスト
.list-design-modelhouse{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  .list-item {
    .list-item__link {
      display: block;
      position: relative;
      .design-modelhouse-image {
        aspect-ratio: 4 / 3;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover;
        }
      }
      .cover {
        opacity: 0;
        @include transition();
        padding: 10px;
        width: 100%;
        height: 100%;
        background-color: rgba($sbcBlack, 0.8);
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: min(3.5vw, 1.5rem);
        @include res_min( map-get($BP, LG) ) {
          font-size: 2rem;
        }
        font-weight: 500;
        color: $sbcWhite;
        line-height: 150%;
        text-align: center;
        p{
          display: flex;
          align-items: center;
          @include res_min( map-get($BP, LG) ) {
            margin-left: 25px;
          }
          &::after{
            content: '';
            margin-left: 1em;
            width: 6px;
            height: 12px;
            @include res_min( map-get($BP, LG) ) {
              margin-left: 25px;
              width: 8px;
              height: 24px;
            }
            background-color: $sbcWhite;
            -webkit-mask-image: url(./assets/images/common/ico-arrow-1.svg);
                    mask-image: url(./assets/images/common/ico-arrow-1.svg);
            -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
            -webkit-mask-position: center;
                    mask-position: center;
            -webkit-mask-size: 100%;
                    mask-size: 100%;
          }
        }
      }
      &:hover, &:active{
        opacity: 1;
        .cover{
          opacity: 1;
        }
      }
    }
  }
}
@include res_min( map-get($BP, MD) ) {
  .list-design-modelhouse{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 7px;
    @include res_min( map-get($BP, LG) ) {
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
    @include res_min( map-get($BP, XL) ) {
      grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
    }
  }
}