@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

/* ----------------------------------------------------------------
  家づくりお役立ちコラム
---------------------------------------------------------------- */
.sec-oyakudachi-column{
  margin: 12px -12px -40px;
  padding: 30px 12px;
  background-color: #E0D8C4;
}
@include res_min( map-get($BP, MD) ) {
  .sec-oyakudachi-column{
    margin: 60px 0 -40px;
    padding: 60px 0;
  }
}

.list-oyakudachi-column{
  display: grid;
  grid-template-columns: 100%;
  gap: 12px;
  .list-item{
    border-radius: 10px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    @include transition();
    transform: scale(1);
    &:hover,&:active{
      transform: scale(1.015);
    }
    .post-group{
      display: block;
      .post-image{
        aspect-ratio: 366 / 168;
        overflow: hidden;
        background-color: $sbcWhite;
        img{
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover;
          &:hover,&:active{
          opacity: 1;
        }
        }
      }
      .post-detail{
        display: none;
      }
      &:hover,&:active{
        color: $textBaseColor;
      }
    }
  }
}
@include res_min( map-get($BP, MD) ) {
  .list-oyakudachi-column{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    @include res_min( map-get($BP, LG) ) {
      gap: 40px;
    }
    .list-item{
      background-color: $sbcWhite;
      border-radius: 16px;
      box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.15);
      .post-group{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
        padding: 20px 20px 28px 20px;
        .post-detail{
          display: block;
          .post-title{
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.4;
          }
          .post-lead{
            margin-top: 7px;

            //指定した行まで表示する
            display: -webkit-box;        /* Flexboxの代替（複数行対応） */
            -webkit-box-orient: vertical; /* テキストの方向を設定 */
            overflow: hidden;            /* はみ出しを隠す */
            -webkit-line-clamp: 4;       /* 表示する行数を指定 */
          }
        }
      }
    }
  }
}