@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

/* ----------------------------------------------------------------
  各ハウジングパーク紹介ページ
---------------------------------------------------------------- */
//タイトル
.page-header--park{
  margin: 20px 8px 0;
  .park-title{
    padding: 30px 0;
    border-top: 1px solid $sbcBeige2;
    border-bottom: 1px solid $sbcBeige2;
    text-align: center;
    img{
      width: auto;
      height: min(5.38vw, 27px);
    }
  }
}
@include res_min( map-get($BP, LG) ) {
  .page-header--park{
    margin: 70px auto 0;
    .park-title{
      padding: 50px 0;
      img{
        height: 40px;
      }
    }
  }
}


//概要
.sec-park-overview{
  margin: 20px 8px;
}
@include res_min( map-get($BP, LG) ) {
  .sec-park-overview{
    margin: 50px auto;
  }
}

.park-overview {
  @include flex(nowrap, flex-start, stretch);
  flex-direction: column;
  gap: 10px;
	.park-overview__data{
    @include flex();
    align-items: center;
    gap: 5px;
		.icon {
      margin-right: 4px;
      line-height: 1;
      img{
        width: 20px;
        height: 20px;
      }
		}
    //個別
    &.data-address{
      font-size: 1.4rem;
    }
    &.data-tel{
      p{
        font-size: 1.2rem;
      }
    }
    &.data-house{
      p{
        font-size: 1.4rem;
      }
    }
	}
}
@include res_min( map-get($BP, LG) ) {
  .park-overview {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    .park-overview__data{
      .icon {
        margin-right: 0;
        line-height: 1;
        img{
          width: 24px;
          height: 24px;
        }
      }
      //個別
      &.data-address{
        font-size: 1.5rem;
      }
      &.data-tel{
        p{
          font-size: 1.3rem;
        }
      }
    }
  }
}

//メインスライダー
.sec-park-main-slider{
  margin-left: -12px;
  margin-right: -12px;
  overflow: hidden;
  padding-bottom: 25px;
  .slider-park-main{
    position: relative;
  }
}
@include res_min( map-get($BP, MD) ) {
  .sec-park-main-slider{
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    .slider-park-main{
      margin-left: auto;
      margin-right: auto;
      max-width: 734px;
      @include res_min( map-get($BP, XXL) ) {
        max-width: none;
      }
    }
  }
}

//モデルハウス一覧
.sec-list-modelhouse{
  margin-top: 30px;
}
@include res_min( map-get($BP, MD) ) {
  .sec-list-modelhouse{
    margin-top: 40px;
  }
}

.title-list-modelhouse{
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  padding: 12px 30px 8px 20px;
  background-color: $sbcBeige1;
  border-radius: 12px 12px 0px 0px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  .icon{
    vertical-align: bottom;
    img{
      width: 23px;
    }
  }
}
@include res_min( map-get($BP, MD) ) {
  .title-list-modelhouse{
    margin-left: 4vw;
    @include res_min( map-get($BP, LG) ) {
      padding: 15px 36px 11px 26px;
      margin-left: min(12.72vw, 215px);
      font-size: 2.4rem;
      .icon{
        img{
          width: 28px;
        }
      }
    }
  }
}

.list-modelhouse-wrap{
  padding: 20px 12px;
  margin-left: -12px;
  margin-right: -12px;
  background-color: $sbcBeige1;
}
@include res_min( map-get($BP, MD) ) {
  .list-modelhouse-wrap{
    padding: 30px 20px;
    @include res_min( map-get($BP, LG) ) {
      padding: 40px 34px;
    }
    margin-left: 0;
    margin-right: 0;
    background-color: $sbcBeige1;
    @include res_min( map-get($BP, LG) ) {
      padding: 40px 34px;
    }
  }
}

//パーク下部　インフォメーション
.sec-park-information{
  margin-top: 30px;
}
@include res_min( map-get($BP, MD) ) {
  .sec-park-information{
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

//ブロック : 営業日カレンダー
.block-calendar{
  margin-top: 40px;
  .button-wrap{
    margin-top: 20px;
  }
}
@include res_min( map-get($BP, LG) ) {
  .block-calendar{
    .button-wrap{
      margin-top: 16px;
    }
    .button-calender{
      width: 100%;
    }
  }
}

//プロック : 場内マップ
.block-park-map{
  margin-top: 40px;
  .link-park-map{
    margin: 0 auto;
    padding: 12px;
    display: block;
    width: 76.5%;
    max-width: 360px;
    border: 1px solid $sbcBeige2;
    text-align: center;
    .link-park-map__image{
      margin-bottom: 9px;
    }
    .button-plus{
      white-space: nowrap;
    }
    &:hover, &:active{
      opacity: 1;
      .link-park-map__image{
        img{
          opacity: 1;
        }
      }
      .button-plus{
        border-color: $sbcBlack;
        background-color: $sbcBlack;
        color: $sbcWhite;
        &::after{
          background-color: $sbcWhite;
        }
      }
    }
  }
}
@include res_min( map-get($BP, LG) ) {
  .block-park-map{
    .link-park-map{
      width: 100%;
      max-width: none;
    }
  }
}