@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

/* -----------------------------------------
// フォームページのレイアウト：フォームパーツは _reserve-form-elements.scss へ
// ---------------------------------------*/
.sec-form-info{
  margin-top: 20px;
  @include res_min( map-get($BP, LG) ) {
    margin-top: 30px;
  }
  em{
    font-weight: 700;
  }
  .form-info-intro{
    em{
      background-color: #FFE03A;
    }
  }
  .form-info-notes{
    margin-top: 20px;
    padding: 12px 15px;
    @include res_min( map-get($BP, LG) ) {
      margin-top: 30px;
      padding: 14px 20px;
    }
    border: 1px dashed $sbcBeige3;
    p{
      margin-top: 0;
      font-weight: 700;
    }
  }
  .form-info-merit-container{
    margin-top: 20px;
    @include res_min( map-get($BP, LG) ) {
      margin-top: 30px;
    }
    h2{
      font-size: 1.6rem;
      font-weight: 700;
      @include res_min( map-get($BP, MD) ) {
        font-size: 2rem;
      }
    }
    .form-info-merit{
      margin-top: 10px;
      padding: 20px 16px;
      border-radius: 10px;
      background-color: $sbcBeige1;
      display: flex;
      flex-direction: column;
      gap: 12px;
      & > div{
        display: flex;
        gap: 8px;
      }
      dt{
        flex: 0 0 36px;
        img{
          width: 100%;
        }
      }
      dd{
        padding: 5px 10px;
        border-radius: 8px;
        background-color: $sbcWhite;
        display: flex;
        align-items: center;
        p{
          font-weight: 700;
          line-height: 1.5;
        }
        .text-em-red{ color: $sbcRed; }
        .text-em-green{ color: $sbcGreen; }
        .text-em-blue{ color: $sbcBlue; }
      }
      @include res_min( map-get($BP, MD) ) {
        padding: 45px 16px;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        & > div{
          margin: 0 2%;
          @include res_min( map-get($BP, LG) ) {
            margin: 0 min(10vw, 167px);
          }
          align-items: center;
          gap: 13px;
        }
        dt{
          flex: 0 0 64px;
        }
        dd{
          width: calc(100% - 51px);
          padding: 15px 30px;
          border-radius: 14px;
          background-color: $sbcWhite;
          p{
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}

.form-info-attentions{
  margin-top: 20px;
  @include res_min( map-get($BP, LG) ) {
    margin-top: 30px;
  }
  h2{
    font-size: 1.6rem;
    font-weight: 700;
  }
  ul{
    margin-top: 10px;
    li{
      &:not(:first-of-type){
        margin-top: 0.7em;
      }
      padding-left: 1em;
      font-size: 1.4rem;
      line-height: 1.5;
      @include res_min( map-get($BP, MD) ) {
        font-size: 1.5rem;
      }
      position: relative;
      &::before{
        content: '・';
        position: absolute;
        left: 0;
      }
    }
  }
}


/* -----------------------------------------
// 見出し
// ---------------------------------------*/
.sec-form-title{
  margin-top: 40px;
  .form-title-tab{
    border-radius: 26px 26px 0px 0px;
    background-color: $sbcBeige1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(5.64vw, 2.2rem);
    font-weight: 700;
    height: 70px;
  }
}
@include res_min( map-get($BP, MD) ) {
  .sec-form-title{
    margin-top: 40px;
    .form-title-tab{
      border-radius: 26px 26px 0px 0px;
      background-color: $sbcBeige1;
      align-items: flex-end;
      font-size: 3rem;
      @include res_min( map-get($BP, LG) ) {
        margin-top: 60px;
        height: 90px;
        font-size: 3.8rem;
      }
    }
  }
}

.form-title{
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  &::before{
    content: attr(data-num);
    font-size: 1.6rem;
    color: $sbcWhite;
    background-color: $sbcOrangeAzayaka;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
}
@include res_min( map-get($BP, MD) ) {
  .form-title{
    font-size: 2.4rem;
    gap: 10px;
    &::before{
      font-size: 2rem;
      border-radius: 8px;
      width: 35px;
      height: 35px;
    }
  }
}

/* -----------------------------------------
// フォームステップ
// ---------------------------------------*/
.form-step {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 5px;
  position: relative;
  // ステップの丸
  .step-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    .dot{
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $sbcBeige2;
    }
    .text{
      font-size: 1.6rem;
      letter-spacing: 0;
      white-space: nowrap;
    }
    //カレント
    &.current{
      .dot{
        background-color: $sbcLinkColor;
      }
      .text{
        font-weight: 700;
      }
    }
  }
  //ステップ間の罫線
  .step-separate{
    margin-top: 8px;
    width: 38px;
    height: 2px;
    background-color: $sbcBeige2;
  }
}

/* -----------------------------------------
// フォームコンテンツのレイアウト
// ---------------------------------------*/
.sec-form-step{
  margin-left: -12px;
  margin-right: -12px;
  padding: 28px 12px 0;
  background-color: $sbcBeige1;
}
@include res_min( map-get($BP, MD) ) {
  .sec-form-step{
    margin-left: 0;
    margin-right: 0;
    padding: 70px 0 0;
  }
}

/* -----------------------------------------
// コンテンツエリア
// ---------------------------------------*/
.sec-form-contents{ //共通
  margin-left: -12px;
  margin-right: -12px;
  padding: 0 12px;
  position: relative;
  @include res_min( map-get($BP, MD) ) {
    margin-left: 0;
    margin-right: 0;
    padding: 0 12px;
  }
  //個別
  &.sec-form-contents--1{ //パークを選択
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $sbcBeige1;
    @include res_min( map-get($BP, MD) ) {
      padding-top: 60px;
    }
  }
  &.sec-form-contents--2{ //モデルハウスを選択
    padding-top: 40px;
    padding-bottom: 45px;
    background-color: $sbcBeige2;
    &::before{
      content: '';
      width: 27px;
      height: 20px;
      background-image: url(./assets/images/common/ico-triangle.svg);
      background-size: cover;
      position: absolute;
      left: 25%;
      top: -20px;
    }
    @include res_min( map-get($BP, MD) ) {
      padding-top: 60px;
      &::before{
        left: 20%;
      }
    }
  }
  &.sec-form-contents--3{ //見学日と見学開始時間を選択
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $sbcBeige1;
    @include res_min( map-get($BP, MD) ) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  &.sec-form-contents--4{ //お申込者様情報
    padding-bottom: 40px;
    background-color: $sbcBeige1;
    .form-title{
      padding-top: 40px;
      border-top: 1px solid $sbcBeige2;
    }
    @include res_min( map-get($BP, MD) ) {
      padding-bottom: 80px;
      .form-title{
        padding-top: 80px;
      }
    }
  }
  &.sec-agree{
    background-color: $sbcBeige1;
  }
  &.sec-button{
    margin-bottom: -40px;
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: $sbcBeige1;
    @include res_min( map-get($BP, MD) ) {
      padding-top: 60px;
      padding-bottom: 80px;
    }
  }
}


//個人情報の取扱いについて
.agree-title{
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4;
}

.agree-lead{
  margin-top: 10px;
  font-size: 1.4rem;
  @include res_min( map-get($BP, MD) ) {
    margin-top: 30px;
    font-size: 1.6rem;
  }
}

.agree-inc-pp{
  margin-top: 20px;
  padding: 20px 15px 20px 20px;
  background-color: $sbcWhite;
  border-radius: 10px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  position: relative;
  @include res_min( map-get($BP, MD) ) {
    margin-top: 40px;
    padding: 35px 20px 40px 40px;
    border-radius: 14px;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.15);
  }

  //タップ、クリックして読む
  &:not(.is-visible)::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }
  &:not(.is-visible)::after{
    content: 'ここをタップして読む';
    @include res_min( map-get($BP, MD) ) {
      content: 'ここをクリックして読む';
    }
    font-size: 2rem;
    font-weight: 500;
    color: $sbcWhite;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
  }

  .pp{
    aspect-ratio: 1 / 0.7;
    width: 100%;
    max-height: 280px;
    overflow-y: scroll;
    padding-right: 10px;
    //スクロールバー
    &::-webkit-scrollbar {
      width: 13px;
      background-color: $sbcBeige1;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $sbcBeige2;
    }
    //読み込んだppファイルを調整
    h2,
    dt{
      font-size: 1.6rem;
    }
    dl{
      margin-top: 1em;
    }
    dt{
      margin-top: 1em;
    }
    @include res_min( map-get($BP, MD) ) {
      aspect-ratio: 1 / 0.5;
      //読み込んだppファイルを調整
      h2,
      dt{
        font-size: 1.8rem;
      }
      dl{
        margin-top: 0;
      }
    }
  }
}


//確認ページ
.--confirm{
  margin-top: 20px;
  .sec-form-step{
    padding-top: 40px;
  }
  @include res_min( map-get($BP, MD) ) {
    margin-top: 40px;
    .sec-form-step{
      padding-top: 80px;
    }
  }
  .sec-form-contents--confirm{
    padding-top: 30px;
    background-color: $sbcBeige1;
    @include res_min( map-get($BP, MD) ) {
      padding-top: 60px;
    }
  }
}

.confirm-items{
  margin-top: 35px;
  display: grid;
  grid-template-columns: 100%;
  gap: 0;
  @include res_min( map-get($BP, LG) ) {
    margin-top: 60px;
    gap: 20px;
  }
}

.confirm-item{
  display: grid;
  grid-template-columns: 100%;
  gap: 0;
  .confirm-item-label{
    padding: 6px 10px;
    background-color: $sbcBeige2;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .confirm-item-data{
    padding: 8px 10px 12px;
  }
  @include res_min( map-get($BP, LG) ) {
    grid-template-columns: 32% 1fr;
    gap: 1.5em;
    .confirm-item-label{
      padding: 0;
      background-color: transparent;
    }
    .confirm-item-data{
      padding: 0;
      font-size: 1.6rem;
    }
  }
}


//完了ページ
.--complete{
  margin-top: 20px;
  .sec-form-step{
    padding-top: 40px;
  }
  @include res_min( map-get($BP, MD) ) {
    margin-top: 40px;
    .sec-form-step{
      padding-top: 80px;
    }
  }
  .sec-form-contents--complete{
    padding-top: 40px;
    background-color: $sbcBeige1;
    @include res_min( map-get($BP, MD) ) {
      padding-top: 60px;
    }
  }
  .complete-title{
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    @include res_min( map-get($BP, MD) ) {
      margin-bottom: 25px;
      font-size: 3.2rem;
    }
  }
  .form-info-attentions{
    margin-top: 20px;
    padding: 16px;
    background-color: $sbcWhite;
    em{
      font-weight: 700;
    }
    @include res_min( map-get($BP, MD) ) {
      padding: 20px;
      margin-top: 40px;
    }
  }
}

