@use '../_core/valiables' as *;
@use '../_core/mixins' as *;


/* ------------------------------------
//  base
// ----------------------------------*/
* {
  // スマホでリンクをタップした時の青いハイライト色を変更
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%; //10px
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: $ff-go;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: $textBaseColor;
  text-align: left;
  overflow-wrap : break-word;
  overflow-wrap: anywhere; /* 収まらない場合に折り返す */
  word-break: normal; /* 単語の分割はデフォルトに依存 */
  line-break: strict; /* 禁則処理を厳格に適用 */
}
@include res_min( map-get($BP, MD) ) {
  body {
    font-size: 1.6rem;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ------------------------------------
//  見出し
// ----------------------------------*/
h1,h2,h3,h4,h5,h6 {
  line-height: 1.64;
}

/* ------------------------------------
//  フォント
// ----------------------------------*/
em,
strong {
  font-weight: 700;
  font-style: normal;
}

/* ------------------------------------
//  リスト
// ----------------------------------*/
ol, ul {
  list-style: none;
}

/* ------------------------------------
//  button
// ----------------------------------*/
button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* ------------------------------------
//  段落設定
// ----------------------------------*/
p {
  &:first-of-type {
    margin-top: 0;
  }
  margin-top: 1.5em;
}
@include res_min( map-get($BP, MD) ) {
  p {
    margin-top: 2em;
  }
}

/* ------------------------------------
//  画像
// ----------------------------------*/
figure {
  line-height: 1;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  line-height: 1;
}
@include res_min( map-get($BP, MD) ) {
  // img,
  // svg {
  //   width: auto;
  //   height: auto;
  // }
}
