// パンくず
// functions.php で get_template_part( 'block/breadcrumb' ); 呼び出し
.breadcrumb-navi {
  padding: 5px 10px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 25px;
  background-color: #F1F1F1;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.03em;
  .breadcrumb-navi__lists {
    @include flex(wrap, flex-start, stretch);
    .breadcrumb-navi__item {
      br {
        display: none;
      }
      &:not(:last-of-type) {
        &::after {
          content: '';
          display: inline-block;
          vertical-align: top;
          width: 12px;
          height: 100%;
          background-image: url(./assets/images/common/icon-arrow6.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: auto 5px;
        }
      }
      .breadcrumb-navi__item__text {
      }
      .breadcrumb-navi__item__link {
        &:link, &:visited {
          .breadcrumb-navi__item__text {
            text-decoration: none;
            color: $textBaseColor;
          }
        }
        &:hover, &:active {
          opacity: 1;
          .breadcrumb-navi__item__text {
            color: $mainColor;
          }
        }
      }
    }
  }
}
@include res_min( $break ) {
  .breadcrumb-navi {
    padding: 13px 18px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 70px;
    font-size: 1.3rem;
    .breadcrumb-navi__lists {
      .breadcrumb-navi__item {
        &:not(:last-of-type) {
          &::after {
            width: 22px;
            height: 100%;
            background-size: auto 7px;
          }
        }
      }
    }
  }
}