@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

/* ----------------------------------------------------------------
  フッターのレイアウト
---------------------------------------------------------------- */
.footer {
  padding: 30px 20px 15px;
  border-top: 1px solid $sbcBeige2;
}
@include res_min( map-get($BP, LG) ) {
  .footer {
    @include maxW( map-get($maxSize, xl) );
    padding-top: 50px;
  }
}

//ナビまわりのレイアウト
.footer__menu{
  .footer__menu__nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .sns-links{
    margin-top: 40px;
  }
}
@include res_min( map-get($BP, LG) ) {
  .footer__menu{
    .footer__menu__nav{
      @include flex(nowrap, center, stretch);
      -moz-column-gap: 0;
           column-gap: 0;
    }
    .sns-links{
      margin-top: 50px;
    }
  }

  @include res_min( map-get($BP, XXL) ) {
    .footer__menu{
      @include flex(nowrap, center, center);
      .footer__menu__nav{
      }
      .sns-links{
        margin-top: 0;
        margin-left: 35px;
      }
    }
  }

}


//ナビメニューのデザイン
.footer-nav{
  .menu {
    .menu-item {
      &:not(:first-of-type){
        margin-top: 1.3em;
      }
      line-height: 1.4;
      a {
        &:hover, &:active{
          color: $sbcRed;
        }
      }
      //ラベルのみで使用する
      &.page-label{
        position: relative;
        padding-right: 1em;
        &::after{
          content: '';
          width: 9px;
          height: 4px;
          background-color: $sbcBlack;
          -webkit-mask-image: url(./assets/images/common/ico-arrow-2.svg);
                  mask-image: url(./assets/images/common/ico-arrow-2.svg);
          -webkit-mask-repeat: no-repeat;
                  mask-repeat: no-repeat;
          -webkit-mask-position: center;
                  mask-position: center;
          -webkit-mask-size: auto 100%;
                  mask-size: auto 100%;
          position: absolute;
          right: 0;
          top: 9px;
        }
        & > a{
          pointer-events: none;
        }
      }
      //サブメニューがある場合
      &.menu-item-has-children{
        .sub-menu{
          // display: none;
          height: 0;
          opacity: 0;
          visibility: hidden;
          @include transition();

          margin-top: 1em;
          margin-left: 1em;
          .menu-item {
            margin-top: 0.8em;
            font-size: 1.4rem;
            a{
              color: $sbcBlack;
              &:hover, &:active{
                color: $sbcRed;
              }
            }
          }
          //開閉
          &.is-action{
            height: auto;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
@include res_min( map-get($BP, LG) ) {
  .footer-nav{
    &:first-of-type{
      .menu{
        position: relative;
        &::before{
          content: '';
          width: 1px;
          height: 1em;
          background-color: $sbcGray4;
          position: absolute;
          left: 0;
          top: 4px;
        }
      }
    }
    .menu {
      @include flex(nowrap, flex-start, stretch);
      .menu-item {
        padding: 0 10px;
        position: relative;
        @include res_min( map-get($BP, XL) ) {
          padding: 0 20px;
        }
        // border-right: 1px solid $sbcGray4;
        &:not(:first-of-type){
          margin-top: 0;
        }
        &::before{ //マウスオーバー時のちらつき防止エリア
          content: '';
          width: 100%;
          height: 1em;
          background-color: transparent;
          position: absolute;
          left: 0;
          bottom: -1em;
        }
        &::after{
          content: '';
          width: 1px;
          height: 1em;
          background-color: $sbcGray4;
          position: absolute;
          right: 0;
          top: 4px;
        }
        //ラベルのみで使用する
        &.page-label{
          cursor: pointer;
          position: relative;
          &::after{
            width: 1px;
            height: 1em;
            background-color: $sbcGray4;
            -webkit-mask-image: none;
                    mask-image: none;
            position: absolute;
            right: 0;
            top: 4px;
          }
        }
        //サブメニューがある場合
        &.menu-item-has-children{
          .sub-menu{
            margin-left: 1em;
            background-color: $sbcWhite;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 0;
            margin-left: 0;
            padding: 20px 30px 20px;
            background-color: $sbcWhite;
            border-radius: 8px;
            box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.15);
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, 35px);
            z-index: 10;
            .menu-item {
              margin-top: 0;
              padding: 0;
              border: none;
              white-space: nowrap;
              &::before,
              &::after{
                content: none;
              }
            }
          }
        }
      }
    }
  }
}


//会社情報
.corporate-info {
  margin-top: 35px;
  text-align: center;
	.corporate-info__data {
    line-height: 1;
		.corporate-name {
      font-size: 1.8rem;
      font-weight: 700;
		}
		.corporate-address {
      margin-top: 20px;
      font-size: 1.3rem;
		}
		.corporate-tel {
      margin-top: 20px;
      font-size: 1.8rem;
      font-weight: 700;

		}
		.corporate-fax {
      margin-top: 15px;
      font-weight: 500;
		}
	}
	.corporate-info__other {
    margin-top: 30px;
		.corporate-pp {
      font-size: 1.4rem;
		}
		.corporate-copyright {
      margin-top: 15px;
      font-size: 1.2rem;
      line-height: 1;
		}
	}
}
@include res_min( map-get($BP, LG) ) {
  .corporate-info {
    margin-top: 50px;
    text-align: left;
    @include flex(nowrap, space-between, flex-end);
    .corporate-info__data {
      .corporate-name {
      }
      .corporate-address {
        display: inline-block;
        margin-top: 15px;
        margin-right: 8px;
        font-size: 1.3rem;
        font-weight: 500;
      }
      .corporate-tel {
        display: inline-block;
        margin-top: 0;
        margin-right: 8px;
        font-size: 1.3rem;
        font-weight: 500;
      }
      .corporate-fax {
        display: inline-block;
        margin-top: 0;
        margin-right: 8px;
        font-size: 1.3rem;
      }
    }
    .corporate-info__other {
      margin-top: 30px;
      @include flex(nowrap, flex-end, center);
      gap: 16px;
      .corporate-pp {
        line-height: 1;
      }
      .corporate-copyright {
        margin-top: 0;
        line-height: 1;
      }
    }
  }
}