@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

/* ------------------------------------
//  BASE
// ----------------------------------*/
a {
  @include transition();
  color: $textBaseColor;
  text-decoration: none;
  &:link, &:visited {
    text-decoration: none;
  }
  &:hover, &:active {
    opacity: 1;
    color: $sbcLinkColor
  }
  // ウェブアイコン使用時
  // i {
  //   margin: 0 4px;
  // }
  // transform使用時にchromeでズレが生じるのを防ぐ
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
header,
footer {
  a{
    &:hover, &:active {
      opacity: 1;
    }
  }
}
//画像リンク
a img {
  opacity: 1;
}
@include res_min( map-get($BP, MD) ) {
  a img {
   @include transition(opacity);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    &:hover {
      opacity: 0.8;
    }
  }
}

.block-link{
  word-break: break-all;
  a{
    &:link,
    &:visited {
      color: $textBaseColor;
      text-decoration: underline;
    }
    &:hover,
    &:active {
      opacity: 1;
      color: $sbcLinkColor
    }
  }
}


/* ----------------------------------------------------------------
  ボタンタイプ
---------------------------------------------------------------- */
.button-wrap {
  @include flex(wrap, center, center);
  gap: 1em;
  &.--left{
    justify-content: flex-start;
  }
  &.--right{
    justify-content: flex-end;
  }
}
@include res_min( map-get($BP, MD) ) {
  .button-wrap {
    gap: 1.5em 2em;
  }
}

//共通
.button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1;
  @include transition();
  &:link, &:visited{
    background-color: $sbcGray5;
  }
  &:hover, &:active{
    opacity: 1;
    color: $sbcWhite;
  }
}
@include res_min( map-get($BP, MD) ) {
  .button{
    border-radius: 6px;
  }
}

//フォームのボタンなど
.button-arrow{
  padding: 12px 33px 14px 37px;
  min-height: 56px;
  font-family: $ff-go;
  font-size: 1.8rem;
  font-weight: 500;
  color: $sbcWhite;
  border-radius: 8px;
  @include res_min( map-get($BP, MD) ) {
    border-radius: 8px;
  }
  background-color: $sbcBlue;
  gap: 20px;
  &::after{
    content: '';
    width: 7px;
    height: 14px;
    flex-shrink: 0;
    background-color: $sbcWhite;
    -webkit-mask-image: url(./assets/images/common/ico-arrow-3.svg);
            mask-image: url(./assets/images/common/ico-arrow-3.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: 100%;
            mask-size: 100%;
    @include transition();
  }
  &:link, &:visited{
    background-color: $sbcBlue;
  }
  &:hover, &:active{
    background-color: $sbcWhite;
    color: $sbcBlack;
    &::after{
      background-color: $sbcBlack;
    }
  }
  //逆向き
  &.--reverse{
    padding: 12px 37px 14px 33px;
    background-color: $sbcBlack;
    &::before{
      content: '';
      width: 7px;
      height: 14px;
      flex-shrink: 0;
      background-color: $sbcWhite;
      -webkit-mask-image: url(./assets/images/common/ico-arrow-3.svg);
              mask-image: url(./assets/images/common/ico-arrow-3.svg);
      -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
      -webkit-mask-position: center;
              mask-position: center;
      -webkit-mask-size: 100%;
              mask-size: 100%;
      @include transition();
      transform: scale(-1,-1);
    }
    &::after{
      content: none;
    }
    &:link, &:visited{
      background-color: $sbcBlack;
    }
    &:hover, &:active{
      background-color: $sbcWhite;
      color: $sbcBlack;
      &::before{
        background-color: $sbcBlack;
      }
    }
  }
}

//グレー
.button-gray{
  padding: 13px 10px;
  font-size: 1.6rem;
  font-weight: 500;
  &:link, &:visited{
    background-color: $sbcGray5;
    color: $sbcWhite;
  }
  &:hover, &:active{
    background-color: $sbcLinkColor;
    &::before{
      background-color: $sbcWhite;
    }
  }
}

//営業日カレンダー（標準）
.button-calender{
  gap: 10px;
  padding: 13px 40px;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  &::before{
    content: '';
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    background-color: $sbcBlack;
    -webkit-mask-image: url(./assets/images/common/ico-calendar.svg);
            mask-image: url(./assets/images/common/ico-calendar.svg);
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: cover;
            mask-size: cover;
  }
  &:link, &:visited{
    background-color: $sbcBeige1;
  }
  &:hover, &:active{
    background-color: $sbcLinkColor;
    &::before{
      background-color: $sbcWhite;
    }
  }
}

//営業日カレンダー（小）
.button-calender-s{
  @extend .button-calender;
  gap: 6px;
  padding: 7px 15px;
  border-radius: 4px;
  font-size: 1.4rem;
  letter-spacing: 0;
  &::before{
    width: 17px;
    height: 17px;
  }
}

//見学予約
.button-reserve-l{
  gap: 8px;
  padding: 13px 10px;
  font-size: 2rem;
  letter-spacing: 0;
  &:link, &:visited{
    background-color: $sbcLinkColor;
    color: $sbcWhite;
  }
  &:hover, &:active{
    opacity: 1;
    background-color: $sbcLinkColorAwai;
  }
  &::before{
    content: '';
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    background-color: $sbcWhite;
    -webkit-mask-image: url(./assets/images/common/ico-calendar.svg);
            mask-image: url(./assets/images/common/ico-calendar.svg);
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: cover;
            mask-size: cover;
    @include transition();
  }
}

.button-reserve-s{
  @extend .button-reserve-l;
  gap: 5px;
  font-size: 1.6rem;
  &::before{
    margin-top: 1px;
    width: 18px;
    height: 18px;
  }
}

//電話
.button-tel{
  @extend .button-calender;
  gap: 10px;
  padding: 0 5px;
  height: 44px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.09rem;
  white-space: nowrap;
  &::before{
    width: 18px;
    height: 18px;
    background-color: $sbcGray5;
    -webkit-mask-image: url(./assets/images/common/ico-tel.svg);
            mask-image: url(./assets/images/common/ico-tel.svg);
  }
}

//外部サイトへ
.button-blank{
  @extend .button-tel;
  gap: 7px;
  font-size: 1.6rem;
  &::before {
    content: '';
    width: 1em;
    height: 1em;
    background-color: $sbcGray5;
    -webkit-mask-image: url(./assets/images/common/ico-blank.svg);
            mask-image: url(./assets/images/common/ico-blank.svg);
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: cover;
            mask-size: cover;
  }
  &:hover, &:active{
    background-color: $sbcLinkColor;
    &::before{
      background-color: $sbcWhite;
    }
  }
}

//Mapボタン
.button-map{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px 4px;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  &:link, &:visited{
    background-color: $sbcBeige3;
    color: $sbcWhite;
  }
  &:hover, &:active{
    opacity: 1;
    background-color: $sbcBlack;
  }
}

//一覧を見る
.button-arrow-right{
  display: inline-flex;
  align-items: center;
  gap: 5px;
  &::after{
    content: '';
    margin-top: 2px;
    width: 16px;
    height: 16px;
    background-color: $sbcOrange;
    -webkit-mask-image: url(./assets/images/common/ico-arrow-r.svg);
            mask-image: url(./assets/images/common/ico-arrow-r.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: 100%;
            mask-size: 100%;
  }
}

//クリックして拡大ボタン等
.button-plus{
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 2px 30px 4px;
  border: 1px solid $sbcBeige3;
  border-radius: 15px;
  font-size: 1.4rem;
  line-height: 1;
  @include transition();
  &::after{
    content: '';
    margin-top: 2px;
    width: 20px;
    height: 20px;
    background-color: $sbcBlack;
    -webkit-mask-image: url(./assets/images/common/ico-loupe.svg);
            mask-image: url(./assets/images/common/ico-loupe.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: 100%;
            mask-size: 100%;
  }
  &:link, &:visited{
    background-color: $sbcBeige3;
    color: $sbcWhite;
  }
  &:hover, &:active{
    opacity: 1;
    border-color: $sbcBlack;
    background-color: $sbcBlack;
    color: $sbcWhite;
    &::after{
      background-color: $sbcWhite;
    }
  }
}


/* ----------------------------------------------------------------
  ページナビ
---------------------------------------------------------------- */
.pager {
  margin-top: 16px;
  padding: 0 46px;
  @include flex(wrap, center, stretch);
  position: relative;

  .prev,
  .next,
  .pager_num {
    width: 30px;
    flex: 0 0 30px;
    height: 30px;
    border-radius: 100%;
    font-family: $ff-num;
    font-size: 1.4rem;
    line-height: 1;
    @include flex(nowrap, center, center);
  }

  .pager_num {
    margin: 16px 8px 0;
  }
  a.pager_num {
    &:hover, &:active {
      text-decoration: none;
      background-color: $brown;
      font-weight: 700;
      color: #fff;
    }
  }

  .current {
    background-color: $brown;
    font-weight: 700;
    color: #fff;
  }

  // 前後
  .prev,
  .next {
    position: absolute;
    bottom: 0;
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background-image: url(./assets/images/common/ico_arrow_pager.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 5px;
      border-radius: 15px;
      position: absolute;
      bottom: 0;
    }
    &::after {
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid $brown;
      border-radius: 15px;
      position: absolute;
      bottom: 0;
    }
    &:hover, &:active {
      text-decoration: none;
      &::before {
        background-color: $brown;
        background-image: url(./assets/images/common/ico_arrow_pager_white.svg);
      }
    }
  }
  .prev {
    left: 0;
    padding-left: 40px;
    &::before {
      transform: scale(-1,-1);
    }
    &::before,
    &::after {
      left: 0;
    }
  }
  .next {
    right: 0;
    padding-right: 40px;
    &::before,
    &::after {
      left: auto;
      right: 0;
    }
  }

  ///// 個別記事内
  &__entry {
    margin-top: 34px;
    margin-bottom: 60px;
    padding: 0;
    @include flex(nowrap, space-between, stretch);
    .prev,
    .next {
      width: auto;
      flex: 0 0 auto;
      position: relative;
    }
  }

}


/* ----------------------------------------------------------------
  その他
---------------------------------------------------------------- */
// blank
// a[target="_blank"]:not(.not-icon) {
//   position: relative;
//   &::before {
//     content: '';
//     width: 1em;
//     height: 1em;
//     background-color: $sbcGray5;
//     -webkit-mask-image: url(./assets/images/common/ico-blank.svg);
//             mask-image: url(./assets/images/common/ico-blank.svg);
//     -webkit-mask-position: center;
//             mask-position: center;
//     -webkit-mask-size: cover;
//             mask-size: cover;
//   }
// }

// telリンク
.link-tel {
  line-height: 1.2;
  &:link, &:visited{
    border-bottom: 1px solid $sbcGray4;
  }
  &:hover, &:active{
    font-weight: 700;
  }
}