@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

/* ------------------------------------
//  記事関連各パーツ
// ----------------------------------*/
.post-body{

  //メタ情報
  .post-meta{
    margin-bottom: 40px;
    padding: 1em 0;
    border-top: 1px solid $sbcBeige2;
    border-bottom: 1px solid $sbcBeige2;
    & > p{
      margin-top: 0;
      font-weight: 700;
      line-height: 1.4;
    }
    .kaisaibi{
      &::before{
        content: '開催日：';
        letter-spacing: 0;
      }
    }
    .modelhouse-name{
      margin-top: 0.8em;
    }
    .modelhouse-park{
      margin-top: 0.2em;
    }
  }
  @include res_min( map-get($BP, MD) ) {
    .post-meta{
      & > p{
        font-size: 2rem;
      }
    }
  }

  //基本ブロック
  .item-block{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    .item-block__title{
      font-size: 2rem;
      font-weight: 700;
    }
    .item-block__text{}
  }
  @include res_min( map-get($BP, MD) ) {
    .item-block{
      margin-top: 60px;
      .item-block__title{
        font-size: 2.4rem;
      }
    }
  }

  //イントロ文章
  .intro-block{
    .item-image{}
    .item-block{
      margin-top: 20px;
    }
  }
  @include res_min( map-get($BP, LG) ) {
    .intro-block{
      .item-block{
        margin-top: 40px;
      }
      &.intro-block--event-news{
        display: grid;
        grid-template-columns: 41.25% 1fr;
        gap: 32px;
        .item-block{
          margin-top: -0.25em;
        }
      }
    }
  }

}