// ----------------------------------------------------------------
// * Valiables
// ---------------------------------------------------------------
//ブレークポイント設定
$BP: (
	SM: 400,
	MD: 768,
	LG: 1024,
	XL: 1260,
	XXL: 1400,
	XXXL: 1500,
	XXXXL: 1600
);

//Maxサイズ設定
$maxSize: (
	xs: 500,
	s: 800,
	base: 1000,
	l: 1260,
	xl: 1400
);

$ff-go: "Zen Kaku Gothic New", sans-serif; // R:400, M:500, B:700
$ff-go2: "Noto Sans CJK JP", sans-serif; // R:400, M:500, B:700, BLK:900
// $ff-go: Helvetica, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", sans-serif;
// $ff-go: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
// $ff-min: '游明朝', '游明朝体', 'Yu Mincho', YuMincho, serif;
$ff-en: "Montserrat", sans-serif;
$ff-num: "Roboto", sans-serif;
// $ff-icon: 'ForkAwesome';

$textBaseColor: #1a1a1a;
$mainColor: #2c3692;
$mainColorLight: #131741;
$mainColorDark: #131741;
$keyColor: #ffe033;
$linkColor: $textBaseColor;
$linkHoverColor: $textBaseColor;

$sbcBlack: #1a1a1a;
$sbcRed: #e62310;
$sbcGreen: #009544;
$sbcBlue: #006ebb;
$sbcWhite: #ffffff;
$sbcGray1: #f1f1f1;
$sbcGray2: #efefef;
$sbcGray3: #d9d9d9;
$sbcGray4: #aaaaaa;
$sbcGray5: #4c4c4c;
$sbcOrangeUsui: #f1ede3;
$sbcOrange: #f9cf3b;
$sbcOrangeKoi1: #ddbe6d;
$sbcSkyBlue: #2a9bdb;
$sbcOrangeKoi2: #f2bd00;
$sbcOrangeAzayaka: #f7c033;
$sbcBeige1: #f5f4f3;
$sbcBeige2: #e0deda;
$sbcBeige3: #bfbdba;
$sbcRedAwai: #f78479;
$sbcLinkColor: #f0595f;
$sbcLinkColorAwai: #f68c8f;
$sbcNagano: #f89d95;
$sbcUeda: #66ce95;
$sbcSaku: #64baf7;
$sbcYumecolor: #f14702;

$gray: #dfdfdf;
$brown: #40210f;
$red: #ff1212;
$orange: #ff9c15;
$green: #59d821;

// to figma
/* 基本サイズ(PC) */
@mixin textStyleBase() {
	font-size: 1.6rem;
}

/* 基本サイズ(SP) */
@mixin textStyleBaseSp() {
	font-size: 1.5rem;
}

/* 極小 */
@mixin textStyleXs() {
	font-size: 1.2rem;
	line-height: 150%;
}

/* 小 */
@mixin textStyleS() {
	font-size: 1.4rem;
	line-height: 150%;
}
@mixin textStyleL() {
	font-size: 1.8rem;
}
@mixin textStyleXl() {
	font-size: 2rem;
	font-weight: 500;
}
@mixin textStyleXxl() {
	font-size: 2.4rem;
}
@mixin textStyleH1() {
	font-size: 3.8rem;
	font-weight: 700;
	line-height: 140%;
}
@mixin textStyleH2() {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 150%;
}
@mixin textStyleH3() {
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 150%;
}
@mixin textStyleH4() {
	font-size: 2rem;
	font-weight: 700;
	line-height: 150%;
}
@mixin textStyleH5() {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 150%;
}
@mixin textStyleH6() {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 150%;
}
@mixin effectStyleDropShadow1() {
	box-shadow: 0px 1px 15px rgba(0, 45, 74, 0.1);
}
@mixin effectStyleDropShadow2() {
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.15);
}
